#sil_slideshow
{
position: relative;
/*margin-bottom: 10px;*/
}

.sil_control
{
cursor: pointer;
background-position: center left;
background-repeat: no-repeat;
height: 150px;
text-indent: -9999px;
width: 25px;
position: absolute;
top: 0;
color: transparent;
z-index: 10000;
background-size: 100% auto;
}

.sil_rightControl
{
right: 0;
background-image: url(btn-next.png);
}

.sil_leftControl
{
left: 0;
background-image: url(btn-prev.png);
}

.sil_slide
{
	text-align: center;
}

.sil_navigation
{
text-align: center;
}

.sil_navigation ul
{
margin: 0;
padding: 0;
}

.sil_navigation ul li
{
display: inline;
margin: 0 5px;
cursor: pointer;
}
